      <form>
      <div class="form-group">
        <label for="project-desc">Comment:</label>
        <textarea class="form-input" id="comment-text" name="comment-text"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

<script src="./js/comment.js"></script>